.App {
  text-align: center;
}

.button-pad button {
  text-align: center;
  font-size: 14px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 4px;
  background-color: white;
  color: black;
}

.button-pad button:hover {
  background-color: lightgray;
}

.button-pad button:active {
  background-color: gray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.display-box {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  background-color: lightgray;
}
